{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block additional_static %}
<link href="{% static 'css/group_index.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/csrf_token_ajax.js' %}"></script>
<script src="{% static 'js/group_index.js' %}"></script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
    <ol class="breadcrumb">
        <li><a href="{% url 'surm.views.index' %}">Index</a></li>
        <li class="active">{{ group.name }}</li>
    </ol>
    <h2>{{ group.name }}</h2>
    {% if group.explain %}
    <p>{{ group.explain }}</p>
    {% endif %}
    <div class="row">
        <div class="col-sm-2">
            <div class="group_info">
                {% if user.id == group.creater.id %}
                <a href="{% url 'surm.views.group_settings' group_id=group.id %}" class="btn btn-xs btn-surm"><i class="fa fa-cog"></i> グループの設定</a>
                {% endif %}
            </div>
            <div class="group_info">
                <ul class="list-inline">
                    <li><h4>参加者: {{ join_users | length }}人</h4></li>
                {% if user.is_superuser or user.id == group.creater.id %}
                    <li><a href="{% url 'surm.views.add_group_member' group_id=group.id %}" class="btn btn-xs btn-surm add_member_btn"><i class="fa fa-users"></i> 追加</a></li>
                {% endif %}
                </ul>
                <ul class="join_users">
                    {% for join_user in join_users %}
                        <li><span class="username">{{ join_user.username }}</span>
                            {% if join_user.id == group.creater.id %}
                                <span class="label label-danger">管理者</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="registered_tags">
                <h4>登録されたタグ</h4>
                <ul>
                    {% for group_tag in group_tags %}
                        <li><a href="{% url 'surm.views.tag_filtering' group_id=group.id tag_id=group_tag.id %}">{{ group_tag.tag }}({{ group_tag.tagresource_set.all.count }})</a></li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        
        <div class="col-sm-7">
            <h3 class="headding_3 post_resource_headding">リソースの投稿</h3>
            <hr class="headding_3_underline" />
            <p>URLを入力すればページタイトルは自動入力されます．</p>
            <p>[]で囲む事でタグを付ける事ができます．(例: [JavaScript][Python][チュートリアル])</p>
            <form action="{% url 'surm.views.group_index' group_id=group.id %}" method="post" class="form resource_add_form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            
            <h3 class="headding_3">投稿されたリソース一覧</h3>
            <hr class="headding_3_underline" />
            {% if resources %}
                <ul class="posted_resources">
                {% for resource in resources %}
                    <li class="posted_resource">
                        <a class="link_btn post_resource_btn" id="{{ resource.id }}" href="{{ resource.url }}" target="_blank">{{ resource.name }}</a>
                        {% if user.id == resource.creater.id %}
                        <button class="dlt_button icon_button" id="{{ resource.id }}"><i class="fa fa-times"></i></button>
                        <div class="dlt_confirm">
                            <form action="{% url 'surm.views.group_index' group_id=group.id%}" method="post" class="form confirm">
                                {% csrf_token %}
                                本当に削除してもよろしいですか？
                                <input type="hidden" name="dlt_resource_id" value="{{ resource.id }}" />
                                <input type="submit" class="btn btn-xs btn-danger" value="はい" />
                            </form>
                        </div>
                        {% endif %}
                        <ul class="posted_resource_info">
                            <li> 
                                <button class="fav_button icon_button" id="{{ resource.id }}"><i class="fa fa-star"></i></button>{{ resource.resourceuserfavorite_set.all.count }}　<span class="label label-danger views">{% if resource.view >= 2 %}{{ resource.view }} Views{% else %}{{ resource.view }} View{% endif %}</span>
                            </li>
                            {% if resource.memo %}
                            <li><span class="memo">{{ resource.memo }}</span></li>
                            {% endif %}
                            <li>
                                <i class="fa fa-tags"></i>
                                {% for tag in resource.tagresource_set.all %}
                                    {{ tag.tag.tag }},
                                {% endfor %}
                            </li>
                            <li><i class="fa fa-eye"></i>
                                {% for read_user in resource.resourceuserview_set.all %}
                                    {{ read_user.user.username }},
                                {% endfor %}
                            </li>
                            <li class="posted_user">{{ resource.created }} - {{ resource.creater.username }}</li>
                        </ul>
                        <div class="comments_area">
                            <form action="{% url 'surm.views.group_index' group_id=group.id %}" method="post" class="form-inline add_comment_form">
                                {% csrf_token %}
                                {% bootstrap_form comment_form %}
                                <input type="hidden" name="resource_id" value="{{ resource.id }}" />
                                <input type="submit" class="btn btn-default comment_submit" value="Submit"/>
                            </form>
                                <p class="show_comment">コメントを表示する({{ resource.comment_set.all.count }})</p>
                                <div class="comments">
                                    {% if resource.comment_set.all.count > 0 %}
                                    <ul>
                                    {% for resource_comment in resource.comment_set.all|dictsortreversed:"commented" %}
                                        <li>{{ forloop.revcounter }}　{{ resource_comment.user.username }} : {{ resource_comment.comment }}</li>
                                    {% endfor %}
                                    </ul>
                                    {% else %}
                                    <p>コメントはありません</p>
                                    {% endif %}
                                </div>
                        </div>
                        <hr />
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>投稿されたリソースはありません</p>
            {% endif %}
        </div>
        <div class="col-sm-3">
            <div class="my_favorite">
                <h4 class="my_favorite_headding">自分のお気に入り</h4>
                <table class="table my_favorite_list">
                    <tr>
                        <th>リソース名</th>
                        <th>タグ</th>
                    </tr>
                    {% for my_favorite_resource in my_favorite_resources %}
                    <tr>
                        <td><a href="{{ my_favorite_resource.resource.url }}" class="post_resource_btn" id="{{ my_favorite_resource.resource.id }}" target="_blank">{{ my_favorite_resource.resource.name }}</a></td>
                        <td>
                            {% for tag in my_favorite_resource.resource.tagresource_set.all %}
                                {{ tag.tag.tag }},
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <a href="#" class="btn btn-default btn-xs read_more_btn">もっと見る</a>
            </div>
            
            <div class="favorite_info">
                <h4>お気に入り履歴</h4>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>リソース名</th>
                    </tr>
                    {% for favorite_resource in favorite_resources_history %}
                    <tr>
                        <td>{{ favorite_resource.user.username }}</td>
                        <td><a href="{{ favorite_resource.resource.url }}" class="post_resource_btn" id="{{ favorite_resource.resource.id }}" target="_blank">{{ favorite_resource.resource.name }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            
        </div>
    </div>
{% endblock %}