{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block additional_static %}
<link href="{% static 'css/group_index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ group.name }}</h2>
    参加者: {{ join_users | length }}人 <br />
    <table class="table table-striped">
        <tr>
            <th>ユーザ名</th>
            <th>メールアドレス</th>
            <th>役割</th>
        </tr>
        {% for join_user in join_users %}
        <tr>
            <td>
                {{ join_user.username }}
            </td>
            <td>
                {{ join_user.email }}
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    
    {% if user.is_superuser %}
    <a href="{% url 'surm.views.add_group_member' group_id=group.id %}" class="btn btn-sm btn-success"><i class="fa fa-users"></i> ユーザをグループに追加</a>
    {% endif %}
    
    <hr />
    <form action="{% url 'surm.views.group_index' group_id=group.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    <h4>投稿されたリソース一覧</h4>
    {% if resources %}
        <ul class="posted_resources">
        {% for resource in resources %}
            <li class="posted_resource">
                <form action="{% url 'surm.views.group_index' group_id=group.id %}" method="post" class="form link_form">
                    {% csrf_token %}
                    <input type="hidden" name="view_count" value="{{ resource.id }}" />
                    <button type="submit" onClick="window.open('{{ resource.url }}')" class="link_btn">{{ resource.name }}</button>
                </form>

                <ul class="posted_resource_info">
                    <li>投稿日時 : {{ resource.created |date:"Y/m/d h:i:s"}}</li>
                    <li>投稿者 : {{ resource.creater.username }}</li>
                    <li>閲覧数 : {{ resource.view }}</li>
                    {% if resource.memo %}
                    <li>メモ: {{ resource.memo }}</li>
                    {% endif %}
                </ul>
                <hr />
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>投稿されたリソースはありません</p>
    {% endif %}
</div>
{% endblock %}