{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block additional_static %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% if user.username %}
    {{ user.username }} - SURM
    {% else %}
    Guest - SURM
    {% endif %}
{% endblock %}

{% block header %}
    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}
    <ol class="breadcrumb">
        <li class="active">
        {% if user.username %}
        {{ user.username }} - SURM
        {% else %}
        Guest - SURM
        {% endif %}
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-8">
            <h3 class="headding_3">参加しているグループ</h3>
            {% if mygroups %}
                <table class="table mygroups">
                    <tr>
                        <th>グループ名</th>
                        <th>説明</th>
                        <th>作成者</th>
                    </tr>
                    {% for mygroup in mygroups %}
                    <tr>
                        <td><a href="{% url 'surm.views.group_index' group_id=mygroup.id %}">{{ mygroup.name }}</a></td>
                        <td>{{ mygroup.explain }}</td>
                        <td>{{ mygroup.creater.username }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>参加グループはありません</p>
            {% endif %}
        
            <a href="{% url 'surm.views.cre_group' %}" class="btn btn-surm btn-sm"><i class="fa fa-plus"></i> グループの作成</a>
        </div>
        <div class="col-sm-4">
            <h5>最近の活動</h5>
            <ul class="action_list">
                {% for my_actionhistory in my_actionhistories %}
                <li>
                    <ul class="action_detail">
                        <li class="action_kind">
                            {% if my_actionhistory.kind == 'group_create' %}
                            新しいグループを作成しました
                            {% endif %}
                            {% if my_actionhistory.kind == 'group_join' %}
                            グループに参加しました
                            {% endif %}
                            {% if my_actionhistory.kind == 'group_modify' %}
                            グループを更新しました
                            {% endif %}
                            {% if my_actionhistory.kind == 'group_delete' %}
                            グループを削除しました
                            {% endif %}
                            {% if my_actionhistory.kind == 'resource_post' %}
                            新しいリソースを投稿しました
                            {% endif %}
                            {% if my_actionhistory.kind == 'resource_view' %}
                            リソースを閲覧しました
                            {% endif %}
                            {% if my_actionhistory.kind == 'resource_favorite' %}
                            リソースをお気に入りにしました
                            {% endif %}
                            {% if my_actionhistory.kind == 'resource_delete' %}
                            リソースを削除しました
                            {% endif %}
                            
                        </li>
                        <li class="acted">{{ my_actionhistory.acted }} - {{ my_actionhistory.group.name }}</li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="col-sm-8">
            <p>ログインしてください</p>
        </div>
        <div class="col-sm-4">
            
        </div>
        {% endif %}
    </div>
{% endblock %}