{% extends "surm/group_index.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block additional_static_from_index %}
<link rel="stylesheet" href="{% static 'css/my_favorite.css' %}" />
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
    <ol class="breadcrumb">
        <li><a href="{% url 'surm.views.index' %}">{{ user.username }} - SURM</a></li>
        <li><a href="{% url 'surm.views.group_index' group_id=group.id %}">{{ group.name }}</a></li>
        <li class="active">{{ title }}</li>
    </ol>
{% endblock %}

{% block center-content %}
<h3 class="headding_3">{{ user.username }}のお気に入りリソース</h3>
<div class="my_favorite">
    <table class="table my_favorite_list">
        <tr>
            <th>リソース名</th>
            <th>タグ</th>
            <th></th>
        </tr>
        {% for my_favorite_resource in my_favorite_resources %}
        <tr>
            <td><a href="{{ my_favorite_resource.resource.url }}" class="post_resource_btn" id="{{ my_favorite_resource.resource.id }}" target="_blank">{{ my_favorite_resource.resource.name }}</a></td>
            <td>
                {% for tag in my_favorite_resource.resource.tagresource_set.all %}
                    {{ tag.tag.tag }}{% if forloop.last == False %},{% endif %}
                {% endfor %}
            </td>
            <td>
                <form action="{% url 'surm.views.my_favorite' group_id=group.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="favorite_resource_id" value="{{ my_favorite_resource.resource.id }}"/>
                    <button type="submit" class="cancel_favorite_btn"><i class="fa fa-times"></i></button>
                </form>
                
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block right-content %}
<div class="favorite_info">
    <h4>お気に入り履歴</h4>
    <table class="table">
        <tr>
            <th></th>
            <th>リソース名</th>
        </tr>
        {% for favorite_resource in favorite_resources_history %}
        <tr>
            <td>{{ favorite_resource.user.username }}</td>
            <td><a href="{{ favorite_resource.resource.url }}" class="post_resource_btn" id="{{ favorite_resource.resource.id }}" target="_blank">{{ favorite_resource.resource.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}