{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block additional_static %}
<link rel="stylesheet" href="{% static 'css/tag_filtering.css' %}" />
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'surm.views.index' %}">Index</a></li>
        <li><a href="{% url 'surm.views.group_index' group_id=group.id %}">{{ group.name }}</a></li>
        <li class="active">About 「{{ tag.tag }}」</li>
    </ol>

    <h3 class="headding_3">「{{ tag.tag }}」の検索結果</h3>
    {% for tag_resource in tag_resources %}
    {{ tag_resource.resource.name }} <br />
    {% endfor %}
{% endblock %}