.navbar-custom {
/*     background:#709eff; */
    background: #3f61a9;
    border-bottom:none;
}
.navbar-custom .container a{
    color: #fafcff;
}
.navbar-custom .container a:hover{
    background: #4e79d4;
}
.btn-surm{
    background: #3f61a9;
    border: #3f61a9;
    color: #ffffff;
}
.btn-surm:hover{
    background: #4e79d4;
    border: #4e79d4;
    color: #ffffff;
}

ul{
    list-style: none;
}
.link_btn{
    font-size: 20px;
    text-align: left;
}
.icon_button{
    border-style: none;
    background: none;
}
.dlt_confirm{
    display: none;
}
h2{
    margin-top: 0px;
}
h4{
    margin-top: 0px;
}
i.fa-star{
    color: #fdffac;
}


.message{
    margin-top: -5px;
    text-align: center;
    font-weight: bold;
}
.breadcrumb{
    margin: -5px 0px 10px 0px;
    font-size: 12px;
    background: #dee4f3;
}