.group_info{
    margin-bottom: 10px;
}
.posted_resources{
    padding-left: 20px;
}
.posted_resource{
    margin-bottom: 20px;
/*     margin-left: -20px; */
}
.posted_resource_name{
    font-size: 20px;
}
.form{
    margin-bottom: 50px;
}
ul{
    list-style: none;
    margin-left: -20px;
}
.group_info{
    margin-bottom: 20px;
}
ul.join_users li span.username{
    font-size: 16px;
}
ul.join_users li{
    margin-bottom: 5px;
}
.registered_tags{
    margin-bottom: 20px;
}
.registered_tags ul li{
    margin-bottom: 5px;
}
.posted_resource_info{
    margin-bottom: 20px;
}
.posted_resource_info li{
    font-size: 14px;
    margin-bottom: 5px;
}
.link_btn{
/*
    border-style: none;
    background: none;
*/
    font-size: 20px;
/*     cursor: pointer; */
    text-align: left;
}
.link_form{
    margin-bottom: 0px;
}
.link_btn:hover{
/*     color: #3f61a9; */
}
.icon_button{
    border-style: none;
    background: none;
}
.dlt_confirm{
    display: none;
}
form.confirm{
    margin-bottom: 3px;
}
.headding_3{
    font-weight: 500;
    margin-top: 0px;
}
.headding_3_underline{
    margin-top: 0px;
}
h2{
    margin-top: 0px;
}
h4{
    margin-top: 0px;
}
.list-inline{
    margin-bottom: 0px;
}
.dlt_button{
    float: right;
}
.memo{
    font-size: 16px;
    color: grey;
}
i.fa-star{
    color: #fdffac;
}
.views{
    padding: 2px 4px 2px 4px;
    font-size: 14px;
    font-weight: 400;
/*
    background: #ffd0d0;
    color: #d9534f;
*/
}
.posted_user{
    margin-top: 10px;
}
.add_comment_form{
    margin-bottom: 10px;
}
.add_comment_form input{
    height: 30px;
}
.add_comment_form #id_comment{
    width: 300px;
}
.comment_submit{
    padding-top: 4px;
/*     padding-bottom: 5px; */
}
.show_comment{
    cursor: pointer;
    font-weight: bold;
}
.comments{
    padding: 10px 0px 10px 0px;
    display: none;
    font-size: 16px;
    background: #dee4f3;
    border-radius: 3px;
}
.comments ul li{
    margin-bottom: 5px;
}
.comments_area{
    margin-left: 18px;
/*     background: #7996d5; */
}
.my_favorite{
    margin-bottom: 20px;
}
.my_favorite_list{
    margin-bottom: 5px;
}
.read_more_btn{
}