.group_info{
    margin-bottom: 10px;
}
.posted_resources{
    padding-left: 20px;
}
.posted_resource{
    margin-bottom: 20px;
    margin-left: -20px;
}
.posted_resource_name{
    font-size: 20px;
}
.form{
    margin-bottom: 50px;
}
.group_info{
    margin-bottom: 20px;
}
.join_users{
    margin-left: -20px;
}
ul.join_users li span.username{
    font-size: 16px;
}
ul.join_users li{
    margin-bottom: 5px;
}
.registered_tags{
    margin-bottom: 20px;
}
.registered_tags ul li{
    margin-bottom: 5px;
}
.posted_resource_info{
    margin-bottom: 20px;
    margin-left: -20px;
}
.posted_resource_info li{
    font-size: 14px;
    margin-bottom: 5px;
}
.link_form{
    margin-bottom: 0px;
}
form.confirm{
    margin-bottom: 3px;
}
.list-inline{
    margin-bottom: 0px;
}
.dlt_button{
    float: right;
}
.memo{
    font-size: 16px;
    color: grey;
}
.views{
    padding: 2px 4px 2px 4px;
    font-size: 14px;
    font-weight: 400;
}
.posted_user{
    margin-top: 10px;
}
.add_comment_form{
    margin-bottom: 10px;
}
.add_comment_form input{
    height: 30px;
}
.add_comment_form #id_comment{
    width: 300px;
}
.comment_submit{
    padding-top: 4px;
/*     padding-bottom: 5px; */
}
.show_comment{
    cursor: pointer;
    font-weight: bold;
}
.comments{
    padding: 10px 0px 10px 0px;
    display: none;
    font-size: 16px;
    background: #dee4f3;
    border-radius: 3px;
}
.comments ul li{
    margin-bottom: 5px;
}
.comments_area{
    margin-left: 18px;
}
.my_favorite{
    margin-bottom: 20px;
}
.my_favorite_list{
    margin-bottom: 5px;
}
.comment_pertition{
    width: 90%;
    margin: 3px 0px 3px 0px;
}
.recent_comments_resources{
    padding-left: 5px;
}
.recent_comments_resource_commented{
    padding-left: 10px;
}
.recent_comments_resource_commented li{
    font-size: 12px;
    color: gray;
}
.recent_comments_resource{
    margin-bottom: 10px;
}
.registered_tags ul{
    margin-left: -20px;
}