.group_info{
    margin-bottom: 10px;
}
.posted_resource{
    margin-bottom: 20px;
}
.posted_resource_name{
    font-size: 20px;
}
.form{
    margin-bottom: 50px;
}
ul{
    list-style: none;
}
.posted_resource_info li{
    margin-bottom: 5px;
}
.link_btn{
    border-style: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}
.link_form{
    margin-bottom: 0px;
}
.link_btn:hover{
    color: blue;
}